/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MY STYLES */

body {
  margin: 0;
}

table {
  width: 100%;
}

.Top {
  background-color: #1564c0;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
}

.Order_Delivery {
  padding: 18px;
  font-size: 15px;
  color: #e2ecf6;
}

.Galvanize_Delivers {
  line-height: 5px;
  padding: 5px;
  font-size: 25px;
  color: #e2ecf6;
}

.Container {
  display: flex;
  background-image: url(img/hero.jpg);
  color: #fefefe;
  width: 100%;
  height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: Arial;
}

.Fine-Dining {
  font: roboto;
  font-size: 48px;
  text-align: center;
  position: relative;
  margin: 5px 0;
}

.Order_Button {
  background-color: #ff4081;
  width: 150px;
  height: 30px;
  border: 5px solid #ff4081;
  font-size: 12px;
  font: roboto;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe;
}

.main-container {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.description-container {
  height: 100%;
  width: 78%;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  align-items: center;
  margin: 30px;
}
.description-container > section > h2 {
  color: #e92264;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.description-container > section {
  margin: 0 20px;
}

.galvanize-delivers-background {
  width: 100%;
  height: 85px;
  background-color: #1564c0;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.galvanize-delivers-container {
  height: 100%;
  width: 78%;
  display: flex;
  font-family: Arial;
  align-items: center;
  /*margin: 0 11%;*/
}

.galvanize-delivers-col>h3 {
  font-size: 24px;
}

.galvanize-delivers-col {
  width: 85.5%;

}

.galvanize-delivers-background > section > section {
  margin: 0 20px;
}

.home-col {
  width: 40%;
}

.galvanize-footer {
  background-color: #0d47a1;
  color: #e2ecf6;
}
